<div class="container">
    <hr>
    <div class="container pt-5 pb-5">
      <div class="row">
        <h2 id="portfolio">Portfolio</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic, excepturi? Voluptatibus ab distinctio magnam ducimus facilis quam itaque optio. Beatae tempora voluptate odio qui impedit, ullam quam aut similique nobis!
        </p>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="bg-secondary mb-2 box">
            <img class="w-100" src="./assets/img/big-project-image.png" alt="">
          </div>
          <p class="h5 text-primary">Project Name</p>
          <p class="">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam omnis, quaerat blanditiis dolorum et tempora at, laudantium, obcaecati maiores id minus quas itaque repellat eos illum sequi. Quis, inventore maxime.
          </p>
        </div>
        <div class="col-md-4">
          <div class="bg-secondary mb-2 box">
            <img class="w-100" src="./assets/img/big-project-image.png" alt="">
          </div>
          <p class="h5 text-primary">Project Name</p>
          <p class="">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam omnis, quaerat blanditiis dolorum et tempora at, laudantium, obcaecati maiores id minus quas itaque repellat eos illum sequi. Quis, inventore maxime.
          </p>
        </div>
        <div class="col-md-4">
          <div class="bg-secondary mb-2 box">
            <img class="w-100" src="./assets/img/big-project-image.png" alt="">
          </div>
          <p class="h5 text-primary">Project Name</p>
          <p class="">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam omnis, quaerat blanditiis dolorum et tempora at, laudantium, obcaecati maiores id minus quas itaque repellat eos illum sequi. Quis, inventore maxime.
          </p>
        </div>
      </div>
    </div>
    <hr>
  </div>