<div class="container">
  <hr>
    <div class="row mt-4">
      <div class="col-4 mt-2">
        <img src="./assets/img/2.jpg" class="img-fluid" alt="Tu Imagen" style="width: 300px; border-radius: 100%;">
        
      </div>
      <div class="col-8 mt-2">
        <h1> The Second Heading Is Prettu Cool Too.</h1>
        <p style="font-size: 18px;">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
      </div>
    </div>
  <hr>
</div>
  